main {
    color: #011126;
    margin-top: 3.4rem;
    height: 100vh;
    text-align: center;
    font: 1rem 'Lato';
}
h2 {
    font: 2.4rem 'Amatic SC';
    margin-bottom: 0.6rem;
}
h5 {
    font-family: 'Lato';
    font-weight: lighter;
    margin-bottom: 2rem;
}
form div {
    margin-bottom: 1.2rem;
}
form div input, select {
    margin-top: 0.6rem;
    width: 40rem;
    height: 1.8rem;
    border: none;
    border-radius: 0.2rem;
    padding: 0 0.4rem;
}
form button {
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: 0.4rem;
    background-color: #F0F2AC;
    color: #011126;
    transition: 0.2s;
}
form button:hover {
    width: 5.8rem;
    height: 1.8rem;
    background-color: #C3D973;
    box-shadow: 2px 2px 6px gray;
}