main {
    color: #011126;
    text-align: center;
    font: 1rem 'Lato', Arial, Helvetica, sans-serif;
}
#contactList {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
#contactList table {
    border-collapse: collapse;
    color: grey;
}
#contactList th {
    background-color: #011126;
    color: white;
    text-align: center;
}
#contactList tr:nth-child(even){
    background-color: white
}
#contactList tr {
    background-color: #f2f2f2;
    text-align: center;
}
#contactList tr a {
    text-decoration: none;
    color: grey;
}
#contactList tr a:hover {
    color: black;
    font-size: 1.4rem;
}
#contactList tr:hover {
    background-color: #F0F2AC;
    color: black;
}
#contactList td, th {
    border: none;
    padding: 0.4rem 0.8rem;
    line-height: 2rem;
}
h2 {
    font: 2.4rem 'Amatic SC', Arial, Helvetica, sans-serif;
    margin-bottom: 0.6rem;
}
h5 {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-bottom: 2rem;
}
form div {
    margin-bottom: 1.2rem;
}
form div input, select {
    margin-top: 0.6rem;
    width: 40rem;
    height: 1.8rem;
    border: none;
    border-radius: 0.2rem;
    padding: 0 0.4rem;
}
form button {
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: 0.4rem;
    background-color: #F0F2AC;
    color: #011126;
    transition: 0.2s;
}
form button:hover {
    width: 5.8rem;
    height: 1.8rem;
    background-color: #C3D973;
    box-shadow: 2px 2px 6px gray;
}